body {
    font-family: sans-serif;
}

.remark-slide-content h1 {
    font-size: 1.5em;
}

.remark-slide-content h2 {
    font-size: 1.4em;
}

.remark-slide-content h3 {
    font-size: 1.3em;
}

img {
    width: 100%;
}
